body {
  margin: 0;
  background-color: #f9f9f9;
  font-size: 18px;
  color: #5b5b5b;
}
.row {
  max-width: 100%;
}

fieldset + fieldset {
  margin-top: 2rem;
}

h1, h2 {
  font-weight: normal;
  font-size: 3em;
}

button,
.button {
  border-radius: .25rem;
}
a.button {
  padding: .8rem 1.6rem;
  background-color: #68b246;
  font-weight: normal;
  color: #fff;
  border: 0;
  font-size: .9rem;
}
button.primary,
a.button.primary {
  background-color: #68b246;
  border: 0;
}

button[disabled],
.button[disabled] {
  cursor: not-allowed;
  background-color: #999;
}

section.highlight .button.primary {
  background-color: #fff;
  color: #68b246;
  font-weight: bold;
}

header {
  padding: 1rem 5rem;
  background-color: #fff;
  margin: 0 !important;
  box-shadow: 0 2px 10px #eee;
}
header h1,
header h1 img {
  height: 60px; /* force height to match image */
  font-size: .8rem;
}
/* Align image with "pro" text and nav */
header h1 img {
  margin-bottom: -23px;
  margin-right: -9px;
  margin-top: 4px;
}
header nav a.button {
  margin-left: 3rem;
}
header nav a {
  margin-left: 1.5rem;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

section.highlight {
  background-color: #68b246;
  padding: 4rem 10rem;
  z-index: 1;
  color: white;
  text-align: center;
}

body > footer {
  padding: 2rem 5rem;
  font-size: .8rem;
  justify-content: space-around;
  box-shadow: 0 -3px 5px #eee;
  margin: 0 !important;
}

body > footer a {
  font: inherit;
  color: inherit;
}

body > footer .secondary {
  text-align: right;
}
