<!DOCTYPE html>
<meta charset="utf-8">
<title>Annuaire thérapeutes — Terrapeutes</title>
<meta name="description" value="Annuaire et réseau des thérapeutes en Suisse. Augmentez votre visibilité de thérapeute en partageant votre thérapie complémentaire ou alternative en Suisse.">
<link rel="stylesheet" href="/assets/css/main.css">
<script src=https://cdn.jsdelivr.net/gh/airtable/airtable.js@master/build/airtable.browser.js></script>

<header class="row spaced">
  <h1>
    <a href="/">
      <img alt="Thérapeutes" src="https://terrapeute.ch/img/terrapeute-enseigne.png">
      pro
    </a>
  </h1>
  <nav class=secondary>
  <!--
    <a>Réseau de thérapeutes</a>
    <a>Adhérer au réseau</a>
    <a>Nous contacter</a>
     -->
    {% if page.show_join %}
    <a class="button primary" href="/join">Rejoindre le réseau ></a>
    {% endif %}
  </nav>
</header>

<main>
  {{ content }}
</main>

<footer class=row>
  <p>
    <a href=http://terrapeutes.com>Terrapeutes</a> est un projet de Mesure Bien Être, SARL déposée en Suisse.
  </p>
  <div class=secondary>
    <a href="/policy.html">Conditions d'utilisation</a>
    <a href="/privacy.html">Confidentialité</a>
    <a href="mailto:contact@terrapeutes.com">Nous contacter</a>
  </div>
</footer>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.anonym.dev/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
